gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.env
key.properties
**/*.keystore
**/*.jks
grab_voice/backend/voice_recognition/huggingface/*/models--*/**
grab_voice/backend/voice_recognition/huggingface/models/
